
@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');
*{
  color: white;
}

body{
  background: linear-gradient(to bottom, #7fbeef, #275660);
  justify-content: center;
  align-items: center;
}
  h1 { 

    font-family:'Rubik';
    font-size: 62px; 
    font-weight: 800; 
    line-height: 100px; 
    text-align: center; 
    text-transform: uppercase;
  }
.selections {
  padding: 70px;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
}
.selection{
  padding: 50px;
  font-size: 50px;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  background-color: transparent;
  transition: transform .4s;
}
.selection:hover{
  transform: scale(1.2);
}
p{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
h3{
  display: flex;
  justify-content: center;
}
.Scores {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 70px;
  font-size: large;
}
